.container {
  display: flex;
  width: 100%; /* Make sure the container takes up the full width of the viewport */
  height: 100vh; /* Adjust the height as necessary */
}

.box-60 {
  flex: 0 0 60%; /* 60% width of the container */
  background-color: #ffffff;
  padding: 10px;
}

.box-40 {
  flex: 0 0 40%; /* 40% width of the container */
  background-color: #ffffff;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.cards-container {
  display: flex;
  width: 100%;
  padding: 0px 9px;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 131px;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.30);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex-shrink: 0;
  margin-bottom: 10px;
  padding-top: 10px;
}

.pill {
  width: 62px;
  height: 8px;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 5px;
}

.pill svg {
  position: absolute;
  top: 0;
  left: 0;
}

.score {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.emotions-card {
  display: flex;
  width: 271px;
  height: 131px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 22px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.30);
}
